{% extends "base.html" %} {% block content %} {% load static %}

        <section id="edit-post-home">
            <section class="wrapper">   
                {% include 'web/includes/header.html' %}
                <section class="spotlight">
                    <h3>Create new post</h3>
                    <form action="" method="post" class="ajax" enctype="multipart/form-data">
                        {% csrf_token %}
                            <div class="form-field">
                              
                                <label for="{{form.title.id_for_label}}" class="subheads" >
                                    {{form.title.label}}
                                </label>
                                {{form.title}}
                            </div>
                            <div class="form-field">
                                <label for="{{form.description.id_for_label}}" class="subheads">
                                    {{form.description.label}}
                                </label>
                                <div class="description">
                                    {{form.description}}
                                </div>
                            </div>
                            <div class="form-field">
                                <label class="subheads" for="{{form.short_description.id_for_label}}">
                                    {{form.short_description.label}}
                                </label>
                                {{form.short_description}}
                            </div>
                            <div class="form-field">
                                <label class="subheads" for="{{form.tags.id_for_label}}">
                                    {{form.tags.label}}
                                </label>
                                {{form.tags}}
                            </div>
                            <div class="form-field">
                                <label for="{{form.time_to_read.id_for_label}}" class="subheads" >
                                    {{form.time_to_read.label}}
                                </label>
                               {{form.time_to_read}}
                            </div>
                            <div class="form-field">
                                <label for="{{form.featured_image.id_for_label}}" class="subheads" >
                                    {{form.featured_image.label}}
                                </label>
                                {{form.featured_image}}
                            </div>
                            <div class="form-field"></div>
                                <label class="checkbox">
                                    {{form.is_draft}}
                                    {{form.is_draft.label}}
                                </label>
                            </div>
                            <div class="form-field">
                                <input type="submit" value="Submit" />
                            </div>
                    </form>
                    {{form.media}}
                </section>
            </section>
        </section>
        <!-- <script src="/static/ckeditor/ckeditor-init.js" data-ckeditor-basepath="/static/ckeditor/ckeditor/" id="ckeditor-init-script"></script> -->
        <!-- <script src="./js/ckeditor.js"></script> -->
        <script>ClassicEditor
            .create( document.querySelector( '.editor' ), {
                licenseKey: '',
            } )
            .then( editor => {
                window.editor = editor;
            } )
            .catch( error => {
                console.error( 'Oops, something went wrong!' );
                console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
                console.warn( 'Build id: fbn1rnj89y5k-nohdljl880ze' );
                console.error( error );
            } );
        </script>
        {% endblock %}

