{% extends "base.html" %} {% block content %} {% load static %}
{% load paginator_tags %}
<section id="home">
  <section class="wrapper">
    {% include 'web/includes/header.html' %}
    <section class="spotlight">
      <h3>Posts</h3>
      <div class="all-posts">
        <div class="post-section">
          <ul class="posts">
            {% for post in instances %}
            <li>
              <a href="{% url 'web:post' id=post.id %}">
                <div class="blog-image">
                  <img src="{{post.featured_image.url}}" alt="Blog" />
                </div>
                <div class="details">
                  <div class="date">
                    <h4 class="name">{{post.author.name}}</h4>
                    <div class="round"></div>
                    <span> {{post.published_date}}</span>
                  </div>
                  <h3 class="head">{{post.title}}</h3>

                  <h6>Comments True</h6>

                  <p class="description">{{post.short_description}}</p>
                </div>
              </a>
              <div class="bottom">
                {% for tag in post.category.all %}
                <a href="#" class="design one">{{tag.title}}</a>
                {% endfor %}
              </div>
            </li>
            {% endfor %}
          </ul>
          {% load_pagination instances %}
        </div>
        <div class="filter-section" id="hamburger-menu">
          <form action="">
            <input type="text" name="q" placeholder="Search anything..." />
            <p class="filter-head">Sort by</p>
            <div class="filter">
              <label class="radio">
                <input type="radio" name="sort" value="title-asc" />
                <span class="radio"></span>
                <span class="label">Title ordered by Asc</span>
              </label>
              <label class="radio">
                <input type="radio" name="sort" value="title-desc" />
                <span class="radio"></span>
                <span class="label">Title ordered by Desc</span>
              </label>
              <label class="radio">
                <input type="radio" name="sort" value="date-asc" />
                <span class="radio"></span>
                <span class="label">Order By Date added Asc</span>
              </label>
              <label class="radio">
                <input type="radio" name="sort" value="date-desc" />
                <span class="radio"></span>
                <span class="label">Order By Date added Desc</span>
              </label>
            </div>
            <p class="filter-head">Categories</p>
            <div class="filter">
                {% for category in categories %}
              <label class="checkbox">
                <input type="checkbox" value={{category.id}} name="category" />
                <span class="label">{{category.title}}</span>
              </label>
              {% endfor %}
            </div>
            <p class="filter-head">Authors</p>
            <div class="filter">
                {% for author in authors%}
              <label class="checkbox">
                <input type="checkbox" value="{{author.id}}" name="author" />
                <span class="label">{{author.name}}</span>
              </label>
              {% endfor %}
            </div>
            <input type="submit" value="Filter" />
          </form>
        </div>
      </div>
    </section>
    <div id="overlay"></div>
    <div id="close">
      <img src="{% static './images/icons/close.svg' %}" alt="" />
    </div>
  </section>
</section>
{% endblock %}
